{% extends 'base.html' %}

{% block content %}
<h2>Login</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login">
</form>

<a id="qsLoginSocialBtn" class="btn btn-primary btn-lg btn-block" href="{% url 'social:begin' 'auth0' %}">Login with
    FB/Google</a>
<a id="qsRegisterBtn" class="btn btn-primary btn-lg btn-block" href="{% url 'register' %}">Register</a>
<a id="qsHomeBtn" class="btn btn-primary btn-lg btn-block" href="/">Back to home</a>
{% endblock %}